:root {


   --blue: rgb(15, 60, 201);
   --blue-2: rgb(0, 0, 93);
   --blue-3: rgb(232, 235, 250);
   --blue-4: #0000ff;
   --blue-5:#8317e8;
   --blue-6: rgb(170, 184, 255);
   --blue-7: rgb(0, 47, 189);
   
   --pink: rgb(255, 0, 204);
   --pink-2: rgb(143, 0, 93);
   --pink-3: rgb(255, 0, 255);

   --white: rgb(255, 255, 255);

   --orange: rgb(255, 93, 0);
   --orange-2: rgb(83, 30, 0);


   --gray: rgb(245, 245, 245);
   --gray-2: rgba(170, 170, 170, 0.384);
   --gray-3: rgba(170, 170, 170, 0.6);

   --black: rgb(0, 0, 0);
   --black-2: rgb(32, 32, 32);
   --black-3: rgb(0, 0, 0 ,0.6);
   --black-3: rgb(0, 0, 0 ,0.4);
}